body {
	
}

/* ---> BANNER SECTION <--- */

#headerBannerContainer {
	display: flex;
	height: 40px;
	background-color: rgb(8,61,140);
	justify-content: flex-end;
}

#bannerLinkContainer {
	height: 100%;
	width: 350px;
	display: flex;
	justify-content: space-around;
	margin-right: 5%;
}

.bannerLinkIndividual {
	display: flex;
	width: 150px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bannerLinkActual {
	font-size: 12px;
	text-decoration: none;
	color: white;
}

#commercialServiceLinkIcon {
	height: 10px;
	margin: 10px;
}


/* ---> HEADER NAV SECTION <--- */

#headerMenuConainer {
	height: 75px;
	width: 100%;
	/* background-color: greenyellow; */
	display: flex;
	align-items: center;
}

#logoImageContainer {
	height: 30px;
	width: 200px;
	/* background-color: blueviolet; */
	margin-left: 5%;
}

#logoActual {
	width: 100%;
	height: 100%;
}

#headerLinkContainer {
	height: 50px;
	width: 375px;
	/* background-color: blueviolet; */
	position: absolute;
	right: 23%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.headerLinkActualContain {
	width: 20%;
	height: 35px;
	/* background-color: aquamarine; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 5px;
}

.headerLinkActual {
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.headerLinkActualContain:hover {
	background-color: rgb(240,240,240);
}



#findAPoolButtonContainer {
	height: 50px;
	width: 130px;
	position: absolute;
	right: 5%;
	/* background-color: blueviolet; */
	display: flex;
	align-items: center;
}

#findAPoolButton {
	width: 100%;
	height: 35px;
	border-radius: 3px;
	background-color: transparent;
	border: 1px solid rgb(31,113,218);
	padding: 0px;
	
}

#findAPoolButton:focus {
	outline: none;
}

#poolProButtonIcon {
	height: 15px;
	margin-top: 9px;
}

#findAPoolProLeft {
	width: 25%;
	height: 100%;
	background-color: transparent;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

#findAPoolProRight {
	width: 75%;
	height: 100%;
	background-color: transparent;
	display: inline-block;
	box-sizing: border-box;
	padding-top: 10px;
	font-size: 11px;
}

/* ---> WATER CONTAINER SECTION <--- */

#waterSectionContainer {
	width: 100%;
	height: 150px;
	/* background-color: darkcyan; */
}

#waterImageContainer{
	width: 100%;
	height: 100%;
	/* background-color: orange; */
}

#waterImageActual {
	width: 100%;
	height: 100%;
}






















/* Small Screens (Phones) Down */

@media (max-width:600px) {
	

}

/* Medium Screens (Tablets) Down */

@media (max-width:900px) {

	/* BANNER SECTION */
	#headerBannerContainer {
		display: none;
	}

	/* HEADER SECTION */

	#headerMenuConainer {
		height: 50px;
	}

	#logoImageContainer {
		height: 40px;
		width: 150px;
		margin-left: 2%;
	}

	#headerLinkContainer {
	display: none;
	}

	#findAPoolButtonContainer {
		width: 100px;
	}

}

/* Large Screens (Desktops) */

@media (max-width: 1200) {

}




/* Header Section */

